In [24]:
import numpy as np
import pandas as pd
import os
import seaborn as sb
import matplotlib.pyplot as plt

In [25]:
def isOneToOne(df, col1, col2):
    first = df.groupby(col1)[col2].nunique().max()
    second = df.groupby(col2)[col1].nunique().max()
    return first + second == 2

### List of all CSV files

In [6]:
print('### Marketing Funnel by Olist ###')
for idx, file in enumerate(os.listdir('marketing-funnel')):
    print(idx, '-', file)

print()

print('### Brazilian E-Commerce Public Dataset by Olist ###')
for idx, file in enumerate(os.listdir('customers')):
    print(idx, '-', file)

### Marketing Funnel by Olist ###
0 - olist_closed_deals_dataset.csv
1 - olist_marketing_qualified_leads_dataset.csv

### Brazilian E-Commerce Public Dataset by Olist ###
0 - olist_customers_dataset.csv
1 - olist_geolocation_dataset.csv
2 - olist_orders_dataset.csv
3 - olist_order_items_dataset.csv
4 - olist_order_payments_dataset.csv
5 - olist_order_reviews_dataset.csv
6 - olist_products_dataset.csv
7 - olist_sellers_dataset.csv
8 - product_category_name_translation.csv

# glocData - geolocation

### we won't be using this dataset

In [7]:
# geolocation dataset
glocData = pd.read_csv('customers/olist_geolocation_dataset.csv')
glocData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

### data extraction, curation, preparing and cleaning

In [8]:
# everything is unique so nothing to be done..
city = isOneToOne(glocData, "geolocation_lng", "geolocation_lat")
city

False

In [9]:
glocData["geolocation_city"].value_counts()

sao paulo               135800
rio de janeiro           62151
belo horizonte           27805
são paulo                24918
curitiba                 16593
                         ...
campos dos goytacaze         1
carabuçu                     1
damião                       1
padre marcos                 1
colonia z-3                  1
Name: geolocation_city, Length: 8011, dtype: int64

# customerData - customers

In [10]:
# customers dataset
customerData = pd.read_csv('customers/olist_customers_dataset.csv')
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### data extraction, curation, preparing and cleaning

In [11]:
# customer id & customer unique id are not mapped 1-to-1
# we shall not touch either of them
id_unq = isOneToOne(customerData, "customer_id", "customer_unique_id")
print(id_unq)

False

In [12]:
# some customers have multiple customer_ids
customerData["customer_unique_id"].value_counts()

8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
b9665ce6b69c18fd936289caba833265     1
f73dd6ac73ca2cb31fe29008fa559e92     1
2942569db1c8f5d7df3e75960804d161     1
f986491a7560c10050c8cf820bd58438     1
02abda54135beba6c872bc929d06be83     1
Name: customer_unique_id, Length: 96096, dtype: int64

In [13]:
# too many cities, will use state instead
customerData["customer_city"].value_counts()

sao paulo               15540
rio de janeiro           6882
belo horizonte           2773
brasilia                 2131
curitiba                 1521
                        ...
tavares                     1
varzedo                     1
sao joaquim do monte        1
coracao de maria            1
vitoria das missoes         1
Name: customer_city, Length: 4119, dtype: int64

In [14]:
# state counts
customerData["customer_state"].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

In [15]:
# drop variables we won't be using
customerData.drop(["customer_zip_code_prefix", "customer_city"], axis=1, inplace=True)
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         99441 non-null  object
 1   customer_unique_id  99441 non-null  object
 2   customer_state      99441 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

# productData - product, product category name

In [16]:
# products dataset
products = pd.read_csv('customers/olist_products_dataset.csv')
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [17]:
# product category name dataset
category_name = pd.read_csv('customers/product_category_name_translation.csv')
category_name.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [18]:
productData = products.merge(category_name, on="product_category_name", how="left")
productData.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

### data extraction, curation, preparing and cleaning

In [19]:
# first check if Brazilian name is uniquely mapped to English
iso2o = isOneToOne(productData, "product_category_name", "product_category_name")
print("Brazilian to English names map one to one: ", iso2o)

# True: so remove product category name (brazilian) 
productData.drop(["product_category_name"], axis=1, inplace=True)
productData

Brazilian to English names map one to one:  True

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,60.0,156.0,2.0,700.0,31.0,13.0,20.0,computers_accessories
32950,106392145fca363410d287a815be6de4,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,bed_bath_table

In [20]:
# change product name length & description (lenght spelled incorrectly)
productData.rename(columns={"product_name_lenght": "product_name_length", "product_description_lenght": "product_description_length"}, inplace=True)
productData

,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,60.0,156.0,2.0,700.0,31.0,13.0,20.0,computers_accessories
32950,106392145fca363410d287a815be6de4,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,bed_bath_table

In [21]:
# rename "product_category_name_english" to "product_category_name" and move it to front
productData.rename(columns={"product_category_name_english": "product_category_name"}, inplace=True)
productData = productData[["product_id", "product_category_name", "product_name_length", "product_description_length", "product_photos_qty", "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm", ]]
productData

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [22]:
# FEATURE ENGINEERING
# length * height * width = volume; because 3 dimensions hard to have any insights
# productData["product_volume"] = productData["product_length_cm"] * productData["product_height_cm"] * productData["product_width_cm"]
col = productData.apply(lambda row: row["product_length_cm"] * row["product_height_cm"] * row["product_width_cm"], axis=1)
productData = productData.assign(product_volume=col.values)

# weight / volume = density
# productData["product_density"] = productData["product_weight_g"] / productData["product_volume"]
col = productData.apply(lambda row: row["product_weight_g"] / row["product_volume"], axis=1)
productData = productData.assign(product_density=col.values)

productData

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_volume,product_density
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0,2240.0,0.100446
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,10800.0,0.092593
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0,2430.0,0.063374
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0,2704.0,0.137204
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0,4420.0,0.141403
...,...,...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,64000.0,0.192188
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,4864.0,0.349507
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,5103.0,0.274348
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0,8060.0,0.086849
32950,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,168.0,12.398810

In [23]:
## keep product length, width, and height; they might be more useful than an aggregated 'volume' 
# productData.drop(["product_length_cm", "product_height_cm", "product_width_cm"], axis=1, inplace=True)
productData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32328 non-null  object
 2   product_name_length         32341 non-null  float64
 3   product_description_length  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
 9   product_volume              32949 non-null  float64
 10  product_density             32949 non-null  float64
dtypes: float64(9), object(2)
memory usage: 3.0+ MB

# orderData - orders, payments, reviews, items

In [26]:
# orders dataset
orders = pd.read_csv('customers/olist_orders_dataset.csv')
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [27]:
# order payments dataset
payments = pd.read_csv('customers/olist_order_payments_dataset.csv')
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [28]:
# order reviews dataset
reviews = pd.read_csv('customers/olist_order_reviews_dataset.csv')
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [29]:
# order items dataset
items = pd.read_csv('customers/olist_order_items_dataset.csv')
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [30]:
orderData = orders.merge(payments, on="order_id", how="left")\
                .merge(reviews, on="order_id", how="left")\
                .merge(items, on="order_id", how="left")
orderData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119151 non-null  object
 1   customer_id                    119151 non-null  object
 2   order_status                   119151 non-null  object
 3   order_purchase_timestamp       119151 non-null  object
 4   order_approved_at              118974 non-null  object
 5   order_delivered_carrier_date   117065 non-null  object
 6   order_delivered_customer_date  115730 non-null  object
 7   order_estimated_delivery_date  119151 non-null  object
 8   payment_sequential             119148 non-null  float64
 9   payment_type                   119148 non-null  object
 10  payment_installments           119148 non-null  float64
 11  payment_value                  119148 non-null  float64
 12  review_id                      119151 non-null  object
 13  review_score                   119151 non-null  int64
 14  review_comment_title           14189 non-null   object
 15  review_comment_message         51250 non-null   object
 16  review_creation_date           119151 non-null  object
 17  review_answer_timestamp        119151 non-null  object
 18  order_item_id                  118318 non-null  float64
 19  product_id                     118318 non-null  object
 20  seller_id                      118318 non-null  object
 21  shipping_limit_date            118318 non-null  object
 22  price                          118318 non-null  float64
 23  freight_value                  118318 non-null  float64
dtypes: float64(6), int64(1), object(17)
memory usage: 22.7+ MB

### data extraction, curation, preparing and cleaning

In [31]:
# payment_time = order_approved_at - order_purchase_timestamp
# if order_approved_at is NaN, payment_time follows to be NaN
# not all cancelled/unavailable/etc. orders have NaN order_approved_at

# the values are always non-negative, so im guessing order_purchase is placement of order while order_approved_at is payment approval/confirmation?
orderData["payment_time"] = (pd.to_datetime(orderData["order_approved_at"]) - pd.to_datetime(orderData["order_purchase_timestamp"])).dt.days

In [32]:
# lead_time = order_delivered_customer_date - order_approved_at
    # some values are negative while
    # "order_delivered_customer_date - order_purchase_timestamp" is never negative
    # so order is prepped for delivery upon order purchase? (before approval)
    
# lead time days = order_delivered_customer_date - order_purchase_timestamp
orderData["lead_time"] = (pd.to_datetime(orderData["order_delivered_customer_date"]) - pd.to_datetime(orderData["order_purchase_timestamp"])).dt.days

In [33]:
# delivery performance/precision = order_estimated_delivery_date - order_delivered_customer_date
    # positive = actual delivery before est.
    # negative = actual delivery after est.
orderData["delivery_performance"] = (pd.to_datetime(orderData["order_estimated_delivery_date"]) - pd.to_datetime(orderData["order_delivered_customer_date"])).dt.days

In [34]:
# review_time = review_answer_timestamp - review_creation_date
    # all are non-negative, none are NaN
orderData["review_time"] = (pd.to_datetime(orderData["review_answer_timestamp"]) - pd.to_datetime(orderData["review_creation_date"])).dt.days
print("min:", orderData["review_answer_timestamp"].min())
print("max:", orderData["review_answer_timestamp"].max())
# orderData[orderData["review_answer_timestamp"].str.contains('2018-10-29')]
# orderData.sort_values("review_answer_timestamp")["review_answer_timestamp"]

min: 2016-10-07 18:32:28
max: 2018-10-29 12:27:35

In [35]:
# Shows the seller shipping limit date for handling the order over to the logistic partner.
orderData["shipping_limit_date"]

0         2017-10-06 11:07:15
1         2017-10-06 11:07:15
2         2017-10-06 11:07:15
3         2018-07-30 03:24:27
4         2018-08-13 08:55:23
                 ...
119146    2018-02-12 13:10:37
119147    2017-09-05 15:04:16
119148    2018-01-12 21:36:21
119149    2018-01-12 21:36:21
119150    2018-03-15 10:55:42
Name: shipping_limit_date, Length: 119151, dtype: object

In [36]:
# total count matches total no. of rows, so each purchase has a review score
orderData["review_score"].value_counts()

5    66450
4    22386
1    16016
3    10019
2     4280
Name: review_score, dtype: int64

In [37]:
orderData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119151 non-null  object
 1   customer_id                    119151 non-null  object
 2   order_status                   119151 non-null  object
 3   order_purchase_timestamp       119151 non-null  object
 4   order_approved_at              118974 non-null  object
 5   order_delivered_carrier_date   117065 non-null  object
 6   order_delivered_customer_date  115730 non-null  object
 7   order_estimated_delivery_date  119151 non-null  object
 8   payment_sequential             119148 non-null  float64
 9   payment_type                   119148 non-null  object
 10  payment_installments           119148 non-null  float64
 11  payment_value                  119148 non-null  float64
 12  review_id                      119151 non-null  object
 13  review_score                   119151 non-null  int64
 14  review_comment_title           14189 non-null   object
 15  review_comment_message         51250 non-null   object
 16  review_creation_date           119151 non-null  object
 17  review_answer_timestamp        119151 non-null  object
 18  order_item_id                  118318 non-null  float64
 19  product_id                     118318 non-null  object
 20  seller_id                      118318 non-null  object
 21  shipping_limit_date            118318 non-null  object
 22  price                          118318 non-null  float64
 23  freight_value                  118318 non-null  float64
 24  payment_time                   118974 non-null  float64
 25  lead_time                      115730 non-null  float64
 26  delivery_performance           115730 non-null  float64
 27  review_time                    119151 non-null  int64
dtypes: float64(9), int64(2), object(17)
memory usage: 26.4+ MB

In [38]:
# Remove variables we won't use
# timestamps: new numeric (days) variables are made with them
# payment_sequential: the sequence created to accommodate to a customer's (multiple) payment methods, we can just use payment type
# payment_value, freight_value: not related
# shipping_limit_date: not relevant, is a guideline
orderData.drop(["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date",\
                "payment_sequential", "payment_value", "review_creation_date", "review_answer_timestamp",\
                "shipping_limit_date", "freight_value"],\
                    axis=1, inplace=True)
orderData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                119151 non-null  object
 1   customer_id             119151 non-null  object
 2   order_status            119151 non-null  object
 3   payment_type            119148 non-null  object
 4   payment_installments    119148 non-null  float64
 5   review_id               119151 non-null  object
 6   review_score            119151 non-null  int64
 7   review_comment_title    14189 non-null   object
 8   review_comment_message  51250 non-null   object
 9   order_item_id           118318 non-null  float64
 10  product_id              118318 non-null  object
 11  seller_id               118318 non-null  object
 12  price                   118318 non-null  float64
 13  payment_time            118974 non-null  float64
 14  lead_time               115730 non-null  float64
 15  delivery_performance    115730 non-null  float64
 16  review_time             119151 non-null  int64
dtypes: float64(6), int64(2), object(9)
memory usage: 16.4+ MB

In [39]:
# reorder columns to tidy up
orderData = orderData[["order_id", "order_item_id", "seller_id", "product_id", "customer_id", "review_id",\
                      "order_status", "price", "payment_type", "payment_installments",\
                      "payment_time", "lead_time", "delivery_performance",\
                      "review_score", "review_comment_title", "review_comment_message", "review_time"]]
orderData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                119151 non-null  object
 1   order_item_id           118318 non-null  float64
 2   seller_id               118318 non-null  object
 3   product_id              118318 non-null  object
 4   customer_id             119151 non-null  object
 5   review_id               119151 non-null  object
 6   order_status            119151 non-null  object
 7   price                   118318 non-null  float64
 8   payment_type            119148 non-null  object
 9   payment_installments    119148 non-null  float64
 10  payment_time            118974 non-null  float64
 11  lead_time               115730 non-null  float64
 12  delivery_performance    115730 non-null  float64
 13  review_score            119151 non-null  int64
 14  review_comment_title    14189 non-null   object
 15  review_comment_message  51250 non-null   object
 16  review_time             119151 non-null  int64
dtypes: float64(6), int64(2), object(9)
memory usage: 16.4+ MB

# sellerData - sellers

In [40]:
# sellers dataset
sellerData = pd.read_csv('customers/olist_sellers_dataset.csv')
sellerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

### Data cleaning

In [41]:
# all seller ids are in orderData
# does each unique zip code correspond to a unique city or state? // can we remove one of them
city = isOneToOne(sellerData, "seller_zip_code_prefix", "seller_city")
state = isOneToOne(sellerData, "seller_zip_code_prefix", "seller_state")

print("Zip code & city is one to one: ", city)
print("Zip code & state is one to one: ", state)

# so all 3 location data are unique

Zip code & city is one to one:  False
Zip code & state is one to one:  False

In [42]:
# for location, we're only going to work with state, because too many cities
sellerData.drop(["seller_zip_code_prefix", "seller_city"], axis=1, inplace=True)
sellerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seller_id     3095 non-null   object
 1   seller_state  3095 non-null   object
dtypes: object(2)
memory usage: 48.5+ KB

In [43]:
# 3095 unique sellers
sellerData["seller_id"].value_counts()

3fe7120d6257285ac6a3ce7cb071ccec    1
160e4f13fd3a64b1b86807be88b5ffb0    1
f9ec7093df3a7b346b7bcf7864069ca3    1
baa49d93c8c8841e27400a300f5d74b2    1
3b15288545f8928d3e65a8f949a28291    1
                                   ..
717b78b0950b51ed00b1471d858b0edc    1
a20d8058c866dbaeca014d2cd20ac62e    1
f8f35af4634605e6693c17cc3ffff5a8    1
8c351ed7c326c62123318f4f3246e906    1
f44bdc12aa39f5271f0b95f66cd4c289    1
Name: seller_id, Length: 3095, dtype: int64

In [44]:
# 118318/119151 rows have seller ids, good!
orderData[orderData["seller_id"].isin(sellerData["seller_id"])]

,order_id,order_item_id,seller_id,product_id,customer_id,review_id,order_status,price,payment_type,payment_installments,payment_time,lead_time,delivery_performance,review_score,review_comment_title,review_comment_message,review_time
0,e481f51cbdc54678b7cc49136f2d6af7,1.0,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,9ef432eb6251297304e76186b10a928d,a54f0611adc9ed256b57ede6b6eb5114,delivered,29.99,credit_card,1.0,0.0,8.0,7.0,4,NaN,"Não testei o produto ainda, mas ele veio corre...",1
1,e481f51cbdc54678b7cc49136f2d6af7,1.0,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,9ef432eb6251297304e76186b10a928d,a54f0611adc9ed256b57ede6b6eb5114,delivered,29.99,voucher,1.0,0.0,8.0,7.0,4,NaN,"Não testei o produto ainda, mas ele veio corre...",1
2,e481f51cbdc54678b7cc49136f2d6af7,1.0,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,9ef432eb6251297304e76186b10a928d,a54f0611adc9ed256b57ede6b6eb5114,delivered,29.99,voucher,1.0,0.0,8.0,7.0,4,NaN,"Não testei o produto ainda, mas ele veio corre...",1
3,53cdb2fc8bc7dce0b6741e2150273451,1.0,289cdb325fb7e7f891c38608bf9e0962,595fac2a385ac33a80bd5114aec74eb8,b0830fb4747a6c6d20dea0b8c802d7ef,8d5266042046a06655c8db133d120ba5,delivered,118.70,boleto,1.0,1.0,13.0,5.0,4,Muito boa a loja,Muito bom o produto.,0
4,47770eb9100c2d0c44946d9cf07ec65d,1.0,4869f7a5dfa277a7dca6462dcf3b52b2,aa4383b373c6aca5d8797843e5594415,41ce2a54c0b03bf3443c3d931a367089,e73b67b67587f7644d5bd1a52deb1b01,delivered,159.90,credit_card,3.0,0.0,9.0,17.0,5,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,63943bddc261676b46f01ca7ac2f7bd8,1.0,1f9ab4708f3056ede07124aad39a2554,f1d4ce8c6dd66c47bbaa8c6781c2a923,1fca14ff2861355f6e5f14306ff977a7,29bb71b2760d0f876dfa178a76bc4734,delivered,174.90,credit_card,3.0,0.0,22.0,1.0,4,NaN,So uma peça que veio rachado mas tudo bem rs,1
119147,83c1379a015df1e13d02aae0204711ab,1.0,d50d79cb34e38265a8649c383dcffd48,b80910977a37536adeddd63663f916ad,1aa71eb042121263aafbe80c1b562c9c,371579771219f6db2d830d50805977bb,delivered,205.99,credit_card,5.0,0.0,24.0,5.0,5,NaN,Foi entregue antes do prazo.,0
119148,11c177c8e97725db2631073c19f07b62,1.0,a1043bafd471dff536d0c462352beb48,d1c427060a0f73f6b889a5c7c61f2ac4,b331b74b18dc79bcdf6532d51e1637c1,8ab6855b9fe9b812cd03a480a25058a1,delivered,179.99,credit_card,4.0,0.0,17.0,20.0,2,NaN,Foi entregue somente 1. Quero saber do outro p...,1
119149,11c177c8e97725db2631073c19f07b62,2.0,a1043bafd471dff536d0c462352beb48,d1c427060a0f73f6b889a5c7c61f2ac4,b331b74b18dc79bcdf6532d51e1637c1,8ab6855b9fe9b812cd03a480a25058a1,delivered,179.99,credit_card,4.0,0.0,17.0,20.0,2,NaN,Foi entregue somente 1. Quero saber do outro p...,1
119150,66dea50a8b16d9b4dee7af250b4be1a5,1.0,ececbfcff9804a2d6b40f589df8eef2b,006619bbed68b000c8ba3f8725d5409e,edb027a75a1449115f6b43211ae02a24,dc9c59b4688062c25758c2be4cafc523,delivered,68.50,debit_card,1.0,0.0,7.0,17.0,5,NaN,NaN,0

# leadData - closed deals, marketing qualified leads

In [45]:
# marketing qualified leads dataset
mql = pd.read_csv('marketing-funnel/olist_marketing_qualified_leads_dataset.csv')
mql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

In [46]:
# closed deals dataset
cd = pd.read_csv('marketing-funnel/olist_closed_deals_dataset.csv')
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [47]:
# NaN seller_ids are leads that did not close a deal
leadData = mql.merge(cd, on='mql_id', how='left')
leadData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         8000 non-null   object
 1   first_contact_date             8000 non-null   object
 2   landing_page_id                8000 non-null   object
 3   origin                         7940 non-null   object
 4   seller_id                      842 non-null    object
 5   sdr_id                         842 non-null    object
 6   sr_id                          842 non-null    object
 7   won_date                       842 non-null    object
 8   business_segment               841 non-null    object
 9   lead_type                      836 non-null    object
 10  lead_behaviour_profile         665 non-null    object
 11  has_company                    63 non-null     object
 12  has_gtin                       64 non-null     object
 13  average_stock                  66 non-null     object
 14  business_type                  832 non-null    object
 15  declared_product_catalog_size  69 non-null     float64
 16  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(15)
memory usage: 1.1+ MB

### data extraction, curation, preparing and cleaning

In [48]:
leadData.isna().sum()

mql_id                              0
first_contact_date                  0
landing_page_id                     0
origin                             60
seller_id                        7158
sdr_id                           7158
sr_id                            7158
won_date                         7158
business_segment                 7159
lead_type                        7164
lead_behaviour_profile           7335
has_company                      7937
has_gtin                         7936
average_stock                    7934
business_type                    7168
declared_product_catalog_size    7931
declared_monthly_revenue         7158
dtype: int64

In [49]:
# returns count of non-null values
leadData.count()

mql_id                           8000
first_contact_date               8000
landing_page_id                  8000
origin                           7940
seller_id                         842
sdr_id                            842
sr_id                             842
won_date                          842
business_segment                  841
lead_type                         836
lead_behaviour_profile            665
has_company                        63
has_gtin                           64
average_stock                      66
business_type                     832
declared_product_catalog_size      69
declared_monthly_revenue          842
dtype: int64

In [50]:
# Useless column 1: has_company
orderData[orderData["seller_id"].isin(leadData[leadData["has_company"].isna() == False]["seller_id"])]["seller_id"].value_counts()

1fe5540d7c1c37a595fefbacd5570d9e    25
160851d3ece7aa1a510f8d1a4bb8a8af     2
535bf14f36346c7f59d87cece104d70c     1
64c9a1db4e73e19aaafd3286dc448c96     1
4fae87d32467e18eb46e4a76a0a0b9ce     1
Name: seller_id, dtype: int64

In [51]:
# Useless column 2: has_gtin
orderData[orderData["seller_id"].isin(leadData[leadData["has_gtin"].isna() == False]["seller_id"])]["seller_id"].value_counts()

1fe5540d7c1c37a595fefbacd5570d9e    25
160851d3ece7aa1a510f8d1a4bb8a8af     2
535bf14f36346c7f59d87cece104d70c     1
64c9a1db4e73e19aaafd3286dc448c96     1
4fae87d32467e18eb46e4a76a0a0b9ce     1
Name: seller_id, dtype: int64

In [52]:
# Useless column 3: average_stock
orderData[orderData["seller_id"].isin(leadData[leadData["average_stock"].isna() == False]["seller_id"])]["seller_id"].value_counts()

1fe5540d7c1c37a595fefbacd5570d9e    25
160851d3ece7aa1a510f8d1a4bb8a8af     2
535bf14f36346c7f59d87cece104d70c     1
64c9a1db4e73e19aaafd3286dc448c96     1
4fae87d32467e18eb46e4a76a0a0b9ce     1
Name: seller_id, dtype: int64

In [53]:
# Useless column 4: declared_product_catalog_size
orderData[orderData["seller_id"].isin(leadData[leadData["declared_product_catalog_size"].isna() == False]["seller_id"])]

Empty DataFrame
Columns: [order_id, order_item_id, seller_id, product_id, customer_id, review_id, order_status, price, payment_type, payment_installments, payment_time, lead_time, delivery_performance, review_score, review_comment_title, review_comment_message, review_time]
Index: []

In [54]:
# Useless column 5: declared_monthly_revenue
# sellerData[sellerData["declared_monthly_revenue"] != 0]["seller_id"].value_counts()
orderData[orderData["seller_id"].isin(leadData[leadData["declared_monthly_revenue"].isna() == False]["seller_id"]).isin(leadData[leadData["declared_monthly_revenue"] != 0]["seller_id"])] # no rows in orderData with seller monthly revenue data
leadData[(leadData["declared_monthly_revenue"].isna() == False) & (leadData["declared_monthly_revenue"] != 0)] # 45 rows with appropriate declared monthly revenue data
orderData[orderData["seller_id"].isin(leadData[(leadData["declared_monthly_revenue"].isna() == False) & (leadData["declared_monthly_revenue"] != 0)]["seller_id"])] # no rows in orderData with appropriate seller declared monthly revenue data

Empty DataFrame
Columns: [order_id, order_item_id, seller_id, product_id, customer_id, review_id, order_status, price, payment_type, payment_installments, payment_time, lead_time, delivery_performance, review_score, review_comment_title, review_comment_message, review_time]
Index: []

In [55]:
## FEATURE ENGINEERING
# days_to_first_sale = won_date - first sale date
orderTemp = orders.merge(items, on="order_id", how="left")
orderTemp["first_sale_date"] = pd.to_datetime(orderTemp["order_approved_at"])
orderTemp = leadData.merge(orderTemp.groupby("seller_id").agg({"first_sale_date": "min"}),\
                                  on="seller_id", how="left")

# orderTemp["order_approved_at"].isna().value_counts()
leadData["days_to_first_sale"] = (orderTemp["first_sale_date"] - pd.to_datetime(orderTemp["won_date"])).dt.days
leadData

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,days_to_first_sale
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,feaba3ffcd2ff97501696c7f9a42f41c,2018-05-22,e42a14209c69c3e9cc6b042620465f12,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7996,a79cb53cd009ab92e0143b92baa2407b,2018-03-27,c494978688ccf66ad9fad3d6a3338c22,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7997,68f049a23ab109c6a0f6989bb9a02994,2017-08-27,b48ec5f3b04e9068441002a19df93c6c,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06,a56671a54260a44923d32c2f08fad39c,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0,NaN

In [56]:
## FEATURE ENGINEERING
# deal_days = first contact date - won date?
leadData["won_date"] = pd.to_datetime(leadData["won_date"])
leadData["first_contact_date"] = pd.to_datetime(leadData["first_contact_date"])
leadData["deal_days"] = (leadData["won_date"] - leadData["first_contact_date"]).dt.days
leadData

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,days_to_first_sale,deal_days
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,114.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,feaba3ffcd2ff97501696c7f9a42f41c,2018-05-22,e42a14209c69c3e9cc6b042620465f12,paid_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7996,a79cb53cd009ab92e0143b92baa2407b,2018-03-27,c494978688ccf66ad9fad3d6a3338c22,paid_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7997,68f049a23ab109c6a0f6989bb9a02994,2017-08-27,b48ec5f3b04e9068441002a19df93c6c,organic_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06,a56671a54260a44923d32c2f08fad39c,organic_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0,NaN,111.0

In [57]:
# Remove useless columns
# "mql_id", "first_contact_date", "landing_page_id", "origin", "sdr_id", "sr_id", "won_date": not relevant for our problem statement
leadData.drop(["has_company", "has_gtin", "average_stock", "declared_product_catalog_size", "declared_monthly_revenue",\
              "mql_id", "first_contact_date", "landing_page_id", "origin", "sdr_id", "sr_id", "won_date"],\
                    axis=1, inplace=True)
leadData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               842 non-null    object
 1   business_segment        841 non-null    object
 2   lead_type               836 non-null    object
 3   lead_behaviour_profile  665 non-null    object
 4   business_type           832 non-null    object
 5   days_to_first_sale      380 non-null    float64
 6   deal_days               842 non-null    float64
dtypes: float64(2), object(5)
memory usage: 500.0+ KB

In [58]:
# so many null values!
leadData.isna().sum()

seller_id                 7158
business_segment          7159
lead_type                 7164
lead_behaviour_profile    7335
business_type             7168
days_to_first_sale        7620
deal_days                 7158
dtype: int64

In [59]:
# only 842 leads from the MQL dataset eventually become an Olist seller
leadData["seller_id"].value_counts()

7c8a7bb451a5a4e8813352670a8b9a22    1
bbe9a13ea83539951c8edfc200565bad    1
9aa388272ee334b6ae07bc73706e254a    1
e9179018f5d095c744e8a333264f99d1    1
dda37071807e404c5bb2a1590c66326f    1
                                   ..
398cb257329ef7af7f1943a8974a3cbc    1
5bc24d989e71e93c33e50a7782431b0e    1
f12d3c2a14729ae461b920c11fe20fdc    1
bbe87dce25ba8b38bb61cc7210a3f10b    1
a66aed6f85eb3f719792329338875b72    1
Name: seller_id, Length: 842, dtype: int64

In [60]:
# drop rows with NA seller_id - they did not sign a deal with Olist
leadData.drop(leadData[leadData["seller_id"].isna()].index, inplace=True)
# 842 entries left - all the unique sellers remain
leadData.shape

(842, 7)

In [61]:
# only 380 common sellers between lead and seller datasets
leadData[leadData["seller_id"].isin(sellerData["seller_id"])]

# only 380 common sellers between lead and order datasets !!
b = leadData.merge(orderData, how="inner", on="seller_id")
b["seller_id"].nunique()

380

In [62]:
# remove all sellers not in seller dataset - we don't need them
leadData = leadData[leadData["seller_id"].isin(sellerData["seller_id"])]
leadData

,seller_id,business_segment,lead_type,lead_behaviour_profile,business_type,days_to_first_sale,deal_days
4,2c43fb513632d29b3b58df74816f1b06,pet,online_medium,cat,reseller,114.0,5.0
14,612170e34b97004b3ba37eae81836b4c,home_appliances,online_big,cat,reseller,5.0,63.0
67,ed8cb7b190ceb6067227478e48cf8dde,home_appliances,industry,wolf,manufacturer,16.0,267.0
79,1c742ac33582852aaf3bcfbf5893abcf,health_beauty,online_medium,NaN,manufacturer,135.0,1.0
86,44ed138eca6214d572ce1d813fb0049b,health_beauty,offline,cat,manufacturer,112.0,4.0
...,...,...,...,...,...,...,...
7903,f46490624488d3ff7ce78613913a7711,health_beauty,online_big,eagle,reseller,6.0,42.0
7914,7c9130f5f3729edd32aa059141d92484,computers,NaN,NaN,reseller,43.0,14.0
7943,33dd941c27854f7625b968cc6195a552,household_utilities,online_medium,cat,reseller,60.0,1.0
7960,c70a353f02429c00775a46a75fb787da,health_beauty,online_medium,cat,reseller,89.0,12.0
7965,4fe2f67634d00c021aa01f96b6f2d68e,food_supplement,online_small,cat,reseller,65.0,124.0

In [63]:
# reset indexes from 0 to n
leadData.reset_index(drop=True, inplace=True)

# 380 entries left - all the unique sellers remain
leadData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               380 non-null    object
 1   business_segment        380 non-null    object
 2   lead_type               377 non-null    object
 3   lead_behaviour_profile  289 non-null    object
 4   business_type           377 non-null    object
 5   days_to_first_sale      380 non-null    float64
 6   deal_days               380 non-null    float64
dtypes: float64(2), object(5)
memory usage: 20.9+ KB

In [64]:
# 29 business segments
leadData["business_segment"].value_counts()

health_beauty                      45
home_decor                         44
household_utilities                44
construction_tools_house_garden    32
audio_video_electronics            31
car_accessories                    30
pet                                17
bags_backpacks                     14
sports_leisure                     14
computers                          12
bed_bath_table                     10
toys                               10
food_drink                          9
food_supplement                     8
stationery                          7
small_appliances                    7
fashion_accessories                 6
baby                                6
home_appliances                     5
phone_mobile                        5
books                               4
music_instruments                   4
watches                             3
home_office_furniture               3
handcrafted                         3
gifts                               3
air_conditioning                    2
party                               1
games_consoles                      1
Name: business_segment, dtype: int64

In [65]:
# group them up into larger segments
def groupSegs(segment):
    if segment == "fashion_accessories" or segment == "watches":
        return "fashion_accessories"
    elif segment == "party" or segment == "gifts" or segment == "handcrafted":
        return "gifts"
    elif segment == "bed_bath_table" or segment == "home_office_furniture":
        return "furniture"
    elif segment == "audio_video_electronics" or segment == "computers" or segment == "phone_mobile":
        return "electronics"
    elif segment == "small_appliances" or segment == "home_appliances" or segment == "air_conditioning":
        return "appliances"
    elif segment == "food_supplement" or segment == "food_drink":
        return "food"
    elif segment == "construction_tools_house_garden":
        return "tools"
    elif segment == "games_consoles" or segment == "books" or segment == "music_instruments":
        return "hobbies"
    else:
        return segment
    
col = leadData.apply(lambda row: groupSegs(row["business_segment"]), axis=1)
leadData = leadData.assign(business_segment = col.values)

# only 18 segments left now
leadData["business_segment"].nunique()

18

# Response Variables (sales performance metrics)

*finally... to get our response variables:*
1. seller_items_sold 
2. product_items_sold 
3. product_rating
4. product_polarity

### Response 1: seller_items_sold
The number of items each unique seller sold in total.

In [69]:
# response 1
sellerData["seller_items_sold"] = sellerData["seller_id"].map(orderData["seller_id"].value_counts())

In [70]:
# 3095 sellers dataset
sellerData["seller_items_sold"].describe()

count    3095.000000
mean       38.228756
std       125.394261
min         1.000000
25%         2.000000
50%         8.000000
75%        26.000000
max      2155.000000
Name: seller_items_sold, dtype: float64

In [71]:
# 842 -> 380 leads dataset
a = sellerData.merge(leadData, on="seller_id", how="inner")
a["seller_items_sold"].describe()

count    380.000000
mean      13.878947
std       38.766891
min        1.000000
25%        2.000000
50%        5.000000
75%       13.000000
max      598.000000
Name: seller_items_sold, dtype: float64

### Response 2: product_items_sold
The number of times each unique product was sold.

In [77]:
# response 2: 32951 unique products
# productData["product_items_sold"] = productData["product_id"].map(orderData["product_id"].value_counts())
productData = productData.merge(orderData.groupby(["product_id"]).size().reset_index(name='product_items_sold'),\
                     on="product_id", how="left")

In [78]:
productData["product_items_sold"].describe()

count    32951.000000
mean         3.590726
std         11.076677
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max        536.000000
Name: product_items_sold, dtype: float64

In [79]:
# top 4.89% of all products
productData[productData["product_items_sold"] > 11]

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_volume,product_density,product_items_sold_x,product_items_sold_y,product_items_sold
46,5f504b3a1c75b73d6151be81eb05bdc9,cool_stuff,38.0,1176.0,3.0,15350.0,47.0,40.0,47.0,88360.0,0.173721,63,63,63
79,07f01b6fcacc1b187a71e5074199db2d,agro_industry_and_commerce,39.0,430.0,1.0,16400.0,63.0,66.0,56.0,232848.0,0.070432,15,15,15
151,dd768d259ee6054e0dadd66c8e2be0b6,bed_bath_table,52.0,700.0,2.0,350.0,16.0,10.0,16.0,2560.0,0.136719,16,16,16
175,4473f3e5c65952b074ef987fa5c24662,telephony,59.0,776.0,6.0,350.0,17.0,4.0,12.0,816.0,0.428922,20,20,20
194,5e21d5cab5d33e770d8150a4ee6117db,watches_gifts,60.0,312.0,4.0,200.0,16.0,2.0,11.0,352.0,0.568182,12,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32923,7088744b00831b410bd17716cb578f39,computers_accessories,51.0,311.0,1.0,1013.0,30.0,15.0,16.0,7200.0,0.140694,14,14,14
32926,c1cf541d5b33a4b04ddc1c3be7aa1c86,health_beauty,51.0,781.0,2.0,150.0,35.0,2.0,26.0,1820.0,0.082418,13,13,13
32931,9ce4603565c839785b24a7e95e28f4eb,cool_stuff,40.0,1516.0,2.0,800.0,22.0,15.0,27.0,8910.0,0.089787,14,14,14
32940,dfec64aac9b864b2807a7be33222b75f,bed_bath_table,58.0,252.0,4.0,850.0,38.0,7.0,28.0,7448.0,0.114125,13,13,13
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,64000.0,0.192188,35,35,35

### Response 3: product_rating
The average review_score of each unique product.

In [ ]:
def ave(dfx):
    temp = dfx.drop_duplicates(subset=["review_id"])
    temp["product_rating"] = temp["review_score"].mean()
    dfx = dfx.merge(temp[["review_id", "product_rating"]], on="review_id")
    return dfx
    
orderData = pd.concat(ave(dfx) for _, dfx in orderData.groupby("product_id"))

### Response 4: product_polarity
The average review comment polarity of each unique product.

Polarity was derived by performing sentiment analysis on the review_comment_title and review_comment_message columns.

In [ ]:
def ave(dfx):
    temp = dfx.drop_duplicates(subset=["review_id"])
    temp["product_polarity"] = temp["polarity"].mean()
    dfx = dfx.merge(temp[["review_id", "product_polarity"]], on="review_id")
    return dfx
    
orderData = pd.concat(ave(dfx) for _, dfx in orderData.groupby("product_id"))

### transfer responses 3 & 4 to productData

In [ ]:
productData = productData.merge(orderData[["product_id", "product_rating", "product_polarity"]], on="product_id", how="left")
productData.drop_duplicates(subset=["product_id"], inplace=True)

### cleaning orderData up a little

In [ ]:
# orderData.drop(["order_item_id", "order_status", "payment_type", "payment_installments", ], axis=1, inplace=True)
orderData = orderData[["order_id", "seller_id", "product_id", "customer_id", "review_id", "order_status", "price", "payment_type", "payment_installments", "payment_time", "lead_time", "delivery_performance", "review_time", "review_score", "review_en", "polarity"]]

# Export dataframes to csv

In [ ]:
# export as csv
customerData.to_csv('cleaned-dataframes/customerData.csv', index=False)

In [ ]:
# export as csv
sellerData.to_csv('cleaned-dataframes/sellerData.csv', index=False)

In [ ]:
# export as csv
productData.to_csv('cleaned-dataframes/productData.csv', index=False)

In [ ]:
# export as csv
leadData.to_csv('cleaned-dataframes/leadData.csv', index=False)

In [ ]:
# export as csv
orderData.to_csv('cleaned-dataframes/orderData.csv', index=False)